modules = ["web", "nodejs-20"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run dev"]

[workflows]
runButton = "Run Full Stack"

[[workflows.workflow]]
name = "Start Backend"
author = 36895369
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd backend && npm run start:dev"

[[workflows.workflow]]
name = "Start Frontend"
author = 36895369
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd frontend && npm run dev"

[[workflows.workflow]]
name = "Run Full Stack"
author = 36895369
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd backend && npm run start:dev"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd frontend && npm run dev"
